
*{
    box-sizing: border-box;
}

body {
    background-color: #cad5d7;
}
.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-direction: column-reverse;
    background-size: cover;

}

.header-container {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 26px;
    color: #9f918e;
    margin-right: 30px;
}

.active {
    color: #363333; 
}

.en {
    cursor: pointer;
    transition: 0.3s;
    margin-right: 5px;
}
.en:hover {
    cursor: pointer;
    color: #363333;
}

.ru {
    cursor: pointer;
    transition: 0.3s;
    margin-left: 5px;
}
.ru:hover {
    cursor: pointer;
    color: #363333;
}

.btn { 
    font-size: 30px;
    color: #9f918e;
    background-color: #63c3c2;
    border-color: #9f918e;
    cursor: pointer;
}

.btn:hover { 
    color: #2b2928;
    background-color: #329694;
    border-color: #2b2928;

}

.img-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    overflow: hidden;
    flex-shrink: 0;
}

.gallery-img {
    width: 40%;
    height:  40%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background: #9eb5b9;
}

.footer-list {
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-left: 30px;
}

.copyrigth {
    padding-right: 20px;
    color: white;
    font-size: 20px;
}

.year {
    padding-right: 20px;
    color: white;
    font-size: 20px;
}

.git {
    color: white;
    font-size: 20px;
    transition: 00.3s;
}
.git:hover {
    filter: invert(46%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(52%) contrast(57%);
}


.rss-logo {
    width: 135px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./assets/svg/rss.svg);
    padding-right: 30px;
    transition: 00.3s;
}
.rss-logo:hover {
    filter: invert(46%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(52%) contrast(57%);
}